.menu{
  background-color: black;
}

.menu>ul>li>a,.menu>ul>li{
  z-index: 10;
  list-style-type: none;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  width: 20%;
  padding-bottom: 20px;
}

.menu>ul>li{
	color:white;
	height:25px;
}

.menu>ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu>ul>li>ul{
  list-style-type: none;
	display:none;
}
.menu>ul>li:hover>ul{
    display: flex;
    flex-direction: column;
	  background-color:black;
}
.menu>ul>li>ul>li>a:hover{

	color:white;
}
